<div class="modal" tabindex="-1" role="dialog" id="{{ modalID }}" aria-labelledby="{{ modalLabelID }}" style="display:none;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modalLabelID }}">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="{{ modalBodyID }}">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <a role="button" href="#" class="btn btn-secondary" data-dismiss="modal" id="{{ modalCloseButtonID }}">Close</a>
        <a role="button" href="#" class="btn btn-primary" id="{{ modalContinueButtonID }}">Continue</a>
      </div>
    </div>
  </div>
</div>
